# 08 Day

1. Set the country column as the dataframe index 
2. Convert the Area_km_sq column to square miles (Change the column heading as well).
3. Create a new column that contains the population per sq_mile
4. Challenge: Create a function to do number 2.(Hint:The arguments should be: dataframe, column_name, new_column_name and it should return a dataframe)
5. Challenge: Redo number 2 using the mapping function (Here is a great chance to practicing your Googling!!!)

** This is all fake data and does not reflect reality!

In [23]:
import pandas as pd

In [24]:
data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatamala", "El Salvador", "Costa Rica", "Panama", "Honduras"],
                  "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000],
                  "Area_km_sq": [10000000, 14000000, 4000000, 900000, 500000, 400000, 420000, 370000,390000, 420000]}
            
df = pd.DataFrame(data_dictionary)
df.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [25]:
df.set_index("country", inplace=True)
df.head(2)

         Population  Area_km_sq
country
USA       300000000    10000000
Canada    150000000    14000000

In [31]:
area_miles_sq = []
for each in df["Area_km_sq"]:
    each = each * 0.621371
    area_miles_sq.append(each)
df["Area_km_sq"] = area_miles_sq

df.rename(columns={"Area_km_sq":"Area_miles_sq"}, inplace=True)

In [32]:
df["Area_miles_sq"]

country
USA            2.399125e+06
Canada         3.358776e+06
Mexico         9.596501e+05
Nicaragua      2.159213e+05
Belize         1.199563e+05
Guatamala      9.596501e+04
El Salvador    1.007633e+05
Costa Rica     8.876764e+04
Panama         9.356589e+04
Honduras       1.007633e+05
Name: Area_miles_sq, dtype: float64

In [33]:
df["pop_per_mile"] = df["Population"]/df["Area_miles_sq"]

In [19]:
df2 = pd.DataFrame(data_dictionary)
df2.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [20]:
def km_to_miles(dataframe, column_name, new_column_name):
    area_miles_sq = []
    for each in dataframe[column_name]:
        each = each * 0.621371
        area_miles_sq.append(each)
    dataframe[column_name] = area_miles_sq
    dataframe.rename(columns={"Area_km_sq":"Area_miles_sq"})
    return dataframe

In [21]:
km_to_miles(df2, "Area_km_sq", 'Area_miles_sq')

       country  Population  Area_km_sq
0          USA   300000000  6213710.00
1       Canada   150000000  8699194.00
2       Mexico   167000000  2485484.00
3    Nicaragua    87000000   559233.90
4       Belize    35000000   310685.50
5    Guatamala    76000000   248548.40
6  El Salvador    45000000   260975.82
7   Costa Rica    67000000   229907.27
8       Panama    55000000   242334.69
9     Honduras    38000000   260975.82

In [38]:
df3 = pd.DataFrame(data_dictionary)
df3.head(2)

  country  Population  Area_km_sq
0     USA   300000000    10000000
1  Canada   150000000    14000000

In [39]:
df3["Area_km_sq"].map(lambda x: x * 0.621371)

0    6213710.00
1    8699194.00
2    2485484.00
3     559233.90
4     310685.50
5     248548.40
6     260975.82
7     229907.27
8     242334.69
9     260975.82
Name: Area_km_sq, dtype: float64